<div class="main-container">
   <div class="container">
      <div class="inner-page-section card">
         <div class="row bottom">
            <section class="page-header">
               <div class="header d-flex justify-content-between">
                  <div class="col-sm center">
                     <h2 class="title">Elkan Roelen</h2>
                  </div>
               </div>
            </section>
         </div>

         <div class="row">
            <div class="col-sm center">
               <img src="/assets/img/background.jpg" class="center" alt="img">
            </div>

            <div class="col-sm center text responsivetext">
               <div>
                  <p>{{ 'DASHBOARD.date-of-birth' | translate }}</p>
                  <p>{{ 'DASHBOARD.function' | translate }}</p>
                  <p> {{ 'DASHBOARD.date-service' | translate }}</p>
               </div>
               <div>
                  <p>11 april 1985</p>
                  <p>CEO</p>
                  <p>1 januari 2010</p>
               </div>
            </div>

            <div class="col-sm centerright">
               <div class="radialProgressBar progress-70">
                  <div class="overlay">70%</div>
               </div>
            </div>
            
         </div>
      </div>
   </div>

   <div class="main-container">
      <div class="container">
         <div class="inner-page-section card">
            <section class="page-header">
               <div class="page-header-content d-flex justify-content-between">
                  <h2 class="title">{{ 'HARDWARE.title' | translate }}</h2>
               </div>
            </section>
            <div>
               <div class="page-content">
                  <ngx-table [configuration]="configurationHardware" [data]="dataHardware" [columns]="columnsHardware">
                  </ngx-table>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="main-container">
      <div class="container">
         <div class="inner-page-section card">
            <section class="page-header">
               <div class="page-header-content d-flex justify-content-between">
                  <h2 class="title"> {{ 'SOFTWARE.title' | translate }}</h2>
               </div>
            </section>
            <div>
               <div class="page-content">
                  <ngx-table [configuration]="configurationSoftware" [data]="dataSoftware" [columns]="columnsSofware">
                  </ngx-table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>