:host {
    flex: 1;
    overflow-y: auto;
    padding-top: 80px;

    .container {
        margin-left: 1vw;
        margin-top: 5vh;
    }
    .form-group2 {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
    }
}
