:host {
    flex: 1;
    overflow-y: auto;
    padding-top: 80px;

    .container {
        margin-left: 1vw;
        margin-top: 5vh;
    }
    .form-group2 {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
    }
    .table-div {
        margin-left: 3vw;
        margin-right: 3vw;
        margin-top: 2vw;
    }

    .form-group {
        margin-bottom: 0 !important;
    }

    .table-icon {
        width: 25px;
    }
}
