:host {
    flex: 1;
    overflow-y: auto;
    padding-top: 80px;

    .form-group {
        margin-bottom: 0 !important;
    }

    .table-icon {
        width: 25px;
    }

    .text{
        padding-top: 2vh;
        color: #50596c;
        border-collapse: collapse;
        border-spacing: 0;
        display: table;
        font-family: Montserrat, Verdana, serif;
        font-size: 14px;
        text-align: left;
        display: flex;
        justify-content: space-between;
    }
    .centerright{
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .center{
        margin: auto;
    }
    .responsivetext{
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .bottom{
        padding-bottom: 5vh;
    }
    .header{
        padding-top: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }
    img {
        margin: auto;
        display: flex;
        height: 170px;
        width: 170px;
        overflow: hidden;
        border: 2px solid grey;
        border-radius: 50%;
        margin-bottom: 2vh;
      }
    .radialProgressBar {
        border-radius: 50%;
        width: 170px;
        height: 170px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: #ddd;
        margin: 20px;
    }
    .radialProgressBar .overlay {
        color: black;
        border-radius: 50%;
        width: 140px;
        height: 140px;
        font-size: x-large;
        margin: auto;
        background: #fff;
        text-align: center;
        padding-top: 30%;
    }
    .progress-70 {
        background-image: -webkit-linear-gradient(left, #26abe3 50%, transparent 50%), -webkit-linear-gradient(72deg, #26abe3 50%, #ddd 50%);
        background-image: linear-gradient(90deg, #26abe3 50%, transparent 50%), linear-gradient(18deg, #26abe3 50%, #ddd 50%); 
    }
}
