:host {
    bottom: 16px;
    color: #26abe3;
    width: 100%;

    .inner-div {
        margin-top: 16px;
        margin-left: 22px;
        margin-bottom: 16px;
    }

    span {
        padding-left: 24px;
    }

    fa-icon {
        margin-right: 8px;
        font-size: 20px;
    }
}
