:host {
    .overlay-instruction {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 50;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .overlay-instruction-background {
        background: var(--base-color);
        opacity: 0.5;
        width: 100%;
        height: 100%;
    }

    .overlay-instruction-popup {
        border-radius: 8px;
        width: 500px;
        //height: 300px;
        background: var(--white);
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .icon-container {
        display: inline-block;
        text-align: center;
        margin-right: 10px;
    }

    .organisation-item {
        line-height: 50px;
        height: 50px;
        font-size: 20px;
    }

    .logo {
        width: 100px;
        //height: 200px;
        padding-top: 30px;
    }

    .instructions-text {
        padding-top: 16px;
        font-weight: 300;
    }
}
