<div class="overlay-instruction" *ngIf="(showOrganisationSelector$ | async)">
    <div class="overlay-instruction-background"></div>
    <div class="overlay-instruction-popup">
        <img src="/assets/img/logo.png" class="logo" alt="logo">
        <p class="instructions-text">{{ 'ORG_SELECTOR.title' | translate }}</p>
        <div *ngFor="let organisation of myOrganisations$ | async" (click)="update(organisation.organisationId)" class="organisation-item">
            <div class="icon-container" >
                <fa-icon [icon]="['fas', 'building']"></fa-icon>
            </div>
            <span>
                {{organisation.organisation.name}}
            </span>
        </div>
    </div>
</div>
