<div class="main-container background-img">
    <div class="menu-overlay">
        <nav class="navbar navbar-dark float-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="showMenu()"
                    aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <fa-icon [icon]="['fas', 'bars']"></fa-icon>
            </button>
        </nav>
    </div>


    <ngx-spinner type="ball-climbing-dot"></ngx-spinner>
    <div *ngIf="!mediaDeviceSupported" class="container">
        <div class="content justify-content-center d-flex">
            <div class="col-xl-12 content-div">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-dark">Oops</h6>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="page-content">
                                <p>Your browser does not support user media.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="settings.action === 'SCAN' && !credentialObject && !validCredentialObj && mediaDeviceSupported" class="fullscreen">
        <zxing-scanner style="height: 100%" class="fullscreen" (scanSuccess)="onCodeResult($event)" #scannerView></zxing-scanner>
    </div>
    <div *ngIf="mediaDeviceSupported">
        <div *ngIf="(settings.action === 'SCAN' || settings.action === 'REQUEST') && credentialObject" class="container">
            <div class="content justify-content-center d-flex">
                <div class="col-xl-12 content-div">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-dark">Shared information</h6>
                        </div>
                        <div class="card-body">
                            <div>
                                <div class="page-content">
                                    <div class="information-div">
                                        <div *ngFor="let provider of objectKeys(credentialObject)">
                                            <div *ngIf="credentialObject[provider].credentials['PHOTO']" class="information-detail">
                                                <div class="col-md-12">
                                                    <div class="information-detail-key img-div">
                                                        <img [src]="credentialObject[provider].credentials['PHOTO'].credentialSubject.credential.value | safeHtmlImage" class="epassimg" alt="passport image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngFor="let credentialKey of objectKeysWithFilter(credentialObject[provider].credentials)" class="information-detail">
                                                <div class="col row d-flex justify-content-between">
                                                    <div class="information-detail-key">
                                                        <div class="icon">
                                                            <fa-icon *ngIf="credentialObject[provider].credentials[credentialKey].provider === 'IDIN'" [icon]="['fas', 'university']"></fa-icon>
                                                            <fa-icon *ngIf="credentialObject[provider].credentials[credentialKey].provider === 'EPASS'" [icon]="['fas', 'passport']"></fa-icon>
                                                            <fa-icon *ngIf="credentialObject[provider].credentials[credentialKey].provider === 'PHONE_NUMBER'" [icon]="['fas', 'mobile-alt']"></fa-icon>
                                                            <fa-icon *ngIf="credentialObject[provider].credentials[credentialKey].provider === 'EMAIL'" [icon]="['fas', 'envelope']"></fa-icon>
                                                            <fa-icon *ngIf="credentialObject[provider].credentials[credentialKey].provider === 'HEALTH'" [icon]="['fas', 'medkit']"></fa-icon>
                                                            <fa-icon *ngIf="credentialObject[provider].credentials[credentialKey].provider === 'CUSTOM'" [icon]="['fas', 'question']"></fa-icon>
                                                        </div>
                                                        <p class="type">{{ credentialObject[provider].credentials[credentialKey].credentialSubject.credential.type }}</p>
                                                    </div>
                                                    <div class="information-detail-value">
                                                        <p class="value" *ngIf="getExpectedValue(credentialKey) === null">{{ getFriendlyValue(credentialKey, credentialObject[provider].credentials[credentialKey].credentialSubject.credential.value) }}</p>
                                                        <fa-icon
                                                                *ngIf="getExpectedValue(credentialKey) !== null && getExpectedValue(credentialKey) == credentialObject[provider].credentials[credentialKey].credentialSubject.credential.value.toString()"
                                                                [icon]="['fas', 'check']" size="2x" class="success"></fa-icon>
                                                        <fa-icon
                                                                *ngIf="getExpectedValue(credentialKey) !== null && getExpectedValue(credentialKey) != credentialObject[provider].credentials[credentialKey].credentialSubject.credential.value.toString()"
                                                                [icon]="['fas', 'times']" size="2x" class="danger"></fa-icon>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button *ngIf="settings.action === 'SCAN'" (click)="reScan()" class="button">RESCAN</button>
                                        <button *ngIf="settings.action === 'REQUEST'" (click)="reScan()" class="button">OPNIEUW</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="(settings.action === 'SCAN' || settings.action === 'REQUEST') && validCredentialObj && !validCredentialObj.valid">
            <div class="content justify-content-center d-flex">
                <div class="col-xl-12 content-div">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-dark">Error validating information</h6>
                        </div>
                        <div class="card-body">
                            <div class="page-content text-center">
                                <img class="half-image" src="assets/img/undraw_cancel.svg">
                            </div>
                            <div class="page-content">
                                <p class="type">{{ validCredentialObj.message }}</p>
                                <button (click)="reScan()" class="button">rescan</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Request QR screen -->
        <div *ngIf="settings.action === 'REQUEST' && !validCredentialObj">
            <div class="content justify-content-center d-flex">
                <div class="col-xl-12 content-div">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-dark">Instant data request</h6>
                        </div>
                        <div class="card-body">
                            <div class="page-content">
                                <div class="qr-div">
                                    <div class="qr-code">
                                        <div *ngIf="websocketDisconnected" class="disconnect-overlay margin-left"
                                             (click)="refreshWebsocketDisconnect()">
                                            <p>{{ 'PROFILE.disconnected' | translate }}</p>
                                        </div>
                                        <canvas [ngClass]="websocketDisconnected ? 'disconnected-qr' : ''" #qrCodeCanvas></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
