:host {
    .information {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            color: #006599;
            padding-bottom: 35px;
        }
    }

    .epassimg {
        width: 150px;
    }

    .container {
        height: 100%;
    }

    video {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }

    .information-detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        p {
            margin-bottom: 0;
        }
    }

    .information-detail-text-div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }

    .img-div {
        justify-content: center;
        margin-bottom: 30px;
    }

    .button {
        outline: none;
        border: none;
        background: #006599;
        color: white;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 8px;
        font-size: 16px;
        width: 50%;
        margin-top: 16px;

        &:hover {
            cursor: pointer;
            opacity: 0.5;
        }
    }

    .error {
        color: red !important;
    }

    .small-img {
        width: 25px;
    }

    .information-div {
        width: 50%;
        max-height: 55vh;
        overflow: scroll;
    }
}
