<ngx-spinner type="ball-climbing-dot"></ngx-spinner>
<div class="container">
    <div *ngIf="!shared && !validCredentialObj">
        <zxing-scanner (scanSuccess)="onCodeResult($event)" #scannerView></zxing-scanner>
    </div>
    <div *ngIf="shared" class="information">
        <h1>Shared information</h1>
        <div class="information-div">
            <div *ngFor="let sharedItem of shared" class="information-detail">
                <img *ngIf="sharedType === 'EPASS' && !credentialIsPassportImage(sharedItem.credentialSubject.credential.type)" src="/assets/img/epass.png" class="small-img" />
                <img *ngIf="sharedType === 'IDIN'" src="/assets/img/idin.png" class="small-img" />
                <div class="information-detail-text-div" [ngClass]="credentialIsPassportImage(sharedItem.credentialSubject.credential.type) ? 'img-div' : ''">
                    <p *ngIf="!credentialIsPassportImage(sharedItem.credentialSubject.credential.type)" class="type">{{ sharedItem.credentialSubject.credential.type}}</p>
                    <p *ngIf="!isTwoDigitDateCredential(sharedItem.type[1]) && !credentialIsPassportImage(sharedItem.credentialSubject.credential.type) && valueIsTrueBoolean(sharedItem.credentialSubject.credential.value)" class="value">Yes</p>
                    <p *ngIf="!isTwoDigitDateCredential(sharedItem.type[1]) && !credentialIsPassportImage(sharedItem.credentialSubject.credential.type) && valueIsFalseBoolean(sharedItem.credentialSubject.credential.value)" class="value">No</p>
                    <p *ngIf="!isTwoDigitDateCredential(sharedItem.type[1]) && !credentialIsPassportImage(sharedItem.credentialSubject.credential.type) && !valueIsTrueBoolean(sharedItem.credentialSubject.credential.value) && !valueIsFalseBoolean(sharedItem.credentialSubject.credential.value)" class="value">
                        {{ sharedItem.credentialSubject.credential.value }}
                    </p>
                    <p *ngIf="isTwoDigitDateCredential(sharedItem.type[1])">
                        {{ convertTwoDigitDate(sharedItem.credentialSubject.credential.value) | date:'yyyy-MM-dd'}}
                    </p>
                    <img *ngIf="!isTwoDigitDateCredential(sharedItem.type[1]) && credentialIsPassportImage(sharedItem.credentialSubject.credential.type)" [src]="sharedItem.credentialSubject.credential.value | safeHtmlImage" class="epassimg">
                </div>
                <img *ngIf="!credentialIsPassportImage(sharedItem.credentialSubject.credential.type)" src="/assets/img/success-icon.png" class="small-img" />
            </div>
        </div>
        <button (click)="reScan()" class="button">RESCAN</button>
    </div>
    <div *ngIf="validCredentialObj && !validCredentialObj.valid" class="information">
        <h1 class="error">Error validating information</h1>
        <p class="type">{{ validCredentialObj.message }}</p>
        <button (click)="reScan()" class="button">rescan</button>
    </div>
</div>