:host {
    .information {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        max-width: 500px;

        h1 {
            color: #006599;
            padding-bottom: 20px;
            padding-top: 20px;
        }
    }

    .media-error-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        h1 {
            color: red;
            font-weight: 800;
        }

        p {
            color: red;
        }
    }

    .epassimg {
        width: 150px;
    }

    .half-image {
        width: 30%;
        margin-bottom: 20px;
    }

    .container {
        height: 100%;
    }

    .information-detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-bottom: 16px;
        
        p {
            margin-bottom: 0;
        }
    }


    .icon {
        width: 20px;
        margin-right: 20px;
    }

    .information-detail-key {
        display: flex;
        //width: 100%;
        //padding-left: 16px;
        //padding-right: 16px;
        white-space: nowrap;
    }

    .information-detail-value {
        //display: flex;
        //width: 100%;
        //padding-left: 16px;
        //padding-right: 16px;
        text-align: right;
        white-space: nowrap;
    }

    .value {
        color: #51A351;
    }

    .img-div {
        justify-content: center;
        margin-bottom: 30px;
    }

    .button {
        outline: none;
        border: none;
        background: #006599;
        color: white;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 8px;
        font-size: 16px;
        width: 100%;
        margin-top: 16px;
        margin-bottom: 16px;
        max-width: 500px;

        &:hover {
            cursor: pointer;
            opacity: 0.5;
        }
    }

    .error {
        color: red !important;
    }

    .small-img {
        width: 25px;
        margin: 5px;
    }

    .information-div {
        overflow: scroll;
        width: 100%;
    }

    // Fullscreen camera
    .fullscreen {
        display: block;
        position:absolute;
        height:auto;
        bottom:0;
        top:0;
        left:0;
        right:0;
        background-color: black;
    }

    zxing-scanner::ng-deep video {
        width:100% !important;
        height:100% !important;
        object-fit: cover;
    }

    .content-div {
        max-width: 570px;
    }

    .menu-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        z-index: 3;
        height: 5vh;
        line-height: 10vh;
    }
}
