:root {
    // Header variables
    --header-height: 100px;
    --header-border-color: grey;
    
    //== Colors
    --black-color: #000;
    --base-color: var(--app-primary-color);
    --custom-color: blue;
    --subtext-color: #50596c;
    --black: #000;
    --white: #fff;
    --white-mix: #DEEEFE;
    --lightGrey:lightgray;
    --green: #28a745;
    --back-color: #455A64;

    //footer 
    --footer-background: var(--app-primary-color);
    --footer-title: #26abe3;
    --footer-text: #50596c;
    // Menu variables
    --menu-width: 200px;
    --menu-background-color: #fff;
    --menu-border-color: #fff;
    --menu-color:var(--app-primary-color);
    
    .background-img {
        left: 0;
        top: 0;
        background: linear-gradient(to bottom, rgba(92, 77, 66, 0.6) 0, rgba(92, 77, 66, 0.6) 100%), url(/assets/img/background.jpg) no-repeat;
        background-size: cover;
 
    }
    .checkbox-checked {
        background-color: goldenrod;
        border: 1px solid goldenrod;
        border-radius: 2px;
    }

    .checkbox-not-checked {
        background-color: grey;
        border: 1px solid grey;
        border-radius: 2px;
    }
}
