<div class="menu-inner-div">
    <div class="items">
        <div class="item" [routerLink]="['overview']" routerLinkActive="active-link">
            <div class="menu-icon-container">
                <fa-icon [icon]="['fas', 'home']"></fa-icon>
            </div>
            <span>
                {{ 'MENU.home' | translate }}
            </span>
        </div>

        <div *ngIf="(isOrganisationAdmin$ | async)" class="item" [routerLink]="['organisation']" routerLinkActive="active-link">
            <div class="menu-icon-container">
                <fa-icon [icon]="['fas', 'building']"></fa-icon>
            </div>
            <span>
                {{ 'MENU.organisation' | translate }}
            </span>
        </div>

        <div *ngIf="(isOrganisationAdmin$ | async)" class="item" [routerLink]="['employees']" routerLinkActive="active-link">
            <div class="menu-icon-container">
                <fa-icon [icon]="['fas', 'users']"></fa-icon>
            </div>
            <span>
                {{ 'MENU.employees' | translate }}
            </span>
        </div>

        <div *ngIf="(isOrganisationAdmin$ | async)" class="item" [routerLink]="['hardware']" routerLinkActive="active-link">
            <div class="menu-icon-container">
                <fa-icon [icon]="['fas', 'microchip']"></fa-icon>
            </div>
            <span>
                {{ 'MENU.hardware' | translate }}
            </span>
        </div>

        <div *ngIf="(isOrganisationAdmin$ | async)" class="item" [routerLink]="['software']" routerLinkActive="active-link">
            <div class="menu-icon-container">
                <fa-icon [icon]="['fas', 'compact-disc']"></fa-icon>
            </div>
            <span>
                {{ 'MENU.software' | translate }}
            </span>
        </div>

        <div *ngIf="(isOrganisationAdmin$ | async)" class="item" [routerLink]="['projects']" routerLinkActive="active-link">
            <div class="menu-icon-container">
                <fa-icon [icon]="['fas', 'project-diagram']"></fa-icon>
            </div>
            <span>
                {{ 'MENU.projects' | translate }}
            </span>
        </div>

        <div *ngIf="(isOrganisationAdmin$ | async)" class="item" [routerLink]="['suppliers']" routerLinkActive="active-link">
            <div class="menu-icon-container">
                <fa-icon [icon]="['fas', 'parachute-box']"></fa-icon>
            </div>
            <span>
                {{ 'MENU.suppliers' | translate }}
            </span>
        </div>

        <div *ngIf="(isOrganisationAdmin$ | async)" class="item" [routerLink]="['roles']" routerLinkActive="active-link">
            <div class="menu-icon-container">
                <fa-icon [icon]="['fas', 'user-tag']"></fa-icon>
            </div>
            <span>
                {{ 'MENU.roles' | translate }}
            </span>
        </div>

        <div *ngIf="(isOrganisationAdmin$ | async)" class="item" [routerLink]="['labels']" routerLinkActive="active-link">
            <div class="menu-icon-container">
                <fa-icon [icon]="['fas', 'tags']"></fa-icon>
            </div>
            <span>
                {{ 'MENU.labels' | translate }}
            </span>
        </div>

        <div *ngIf="(isOrganisationAdmin$ | async)" class="item" [routerLink]="['teams']" routerLinkActive="active-link">
            <div class="menu-icon-container">
                <fa-icon [icon]="['fas', 'user-friends']"></fa-icon>
            </div>
            <span>
                {{ 'MENU.teams' | translate }}
            </span>
        </div>

        <div *ngIf="(isOrganisationAdmin$ | async)" class="item" [routerLink]="['logbook']" routerLinkActive="active-link">
            <div class="menu-icon-container">
                <fa-icon [icon]="['fas', 'scroll']"></fa-icon>
            </div>
            <span>
                {{ 'MENU.logbook' | translate }}
            </span>
        </div>

        <div *ngIf="(isOrganisationAdmin$ | async)" class="item" [routerLink]="['documents']" routerLinkActive="active-link">
            <div class="menu-icon-container">
                <fa-icon [icon]="['fas', 'archive']"></fa-icon>
            </div>
            <span>
                {{ 'MENU.documents' | translate }}
            </span>
        </div>

        <!-- Put the super user admin things below this line! -->
        <hr *ngIf="(isAdmin$ | async)">

        <div *ngIf="(isAdmin$ | async)" class="item" [routerLink]="['organisations']" routerLinkActive="active-link">
            <div class="menu-icon-container">
                <fa-icon [icon]="['fas', 'city']"></fa-icon>
            </div>
            <span>
                {{ 'MENU.organisations' | translate }}
            </span>
        </div>

        <div *ngIf="(isAdmin$ | async)" class="item" [routerLink]="['users']" routerLinkActive="active-link">
            <div class="menu-icon-container">
                <fa-icon [icon]="['fas', 'users-cog']"></fa-icon>
            </div>
            <span>
                {{ 'MENU.users' | translate }}
            </span>
        </div>

        <build-number-text *ngIf="(isAdmin$ | async)" class="build-number-text"></build-number-text>
    </div>
</div>
