:host {

    .background-bouwplaats {
        position: fixed;
        top: 0;
        left: 0;
        background: url(/assets/img/bouwplaats.jpeg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        width: 100%;
        overflow: scroll;
    }

    .menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: #006599;
        opacity: 0.4;
        overflow: scroll;
    }

    .header {
        position: fixed;
        top: 0;
        right: 15px;
        height: 50px;
        font-size: 32px;
        color: white;
    }

    .main-container {
        position: fixed;
        top: 50px;
        height: calc(100vh - 50px);
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .card {
        margin: 15px;
    }

    .poweredBy {
        font-size: 16px;
        font-weight: 600;
        color: white;
    }

    .footer {
        height: 40px;
    }

    .title {
        font-size: 16px;
        font-weight: 400;
    }

    .sub-title {
        font-size: 14px;
        font-weight: 200;
    }

    .disclaimer {
        font-size: 14px;
        font-weight: 200;
    }

    .qr-code-bouwplaats {
        text-align: center;
        position: relative;

        img {
            max-width: 200px;
        }
    }

    .credential-name {
        margin-top: 20px;
    }

    .credential-photo {
        width: 100%;
    }

    .divider {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 1px;
        background-color: #eee;
        width: 100%;
    }

    .button-div {
        margin-top: 16px;
        display: flex;
        justify-content: center;

        button {
            width: 40%;
            min-width: 120px;
            margin: auto;
        }
    }

    .btn-primary {
        background-color: #006599;
    }
}
