<div class="main-container">
    <!-- innerpage-section -->
    <div class="container">
        <div class="inner-page-section card">
            <section class="page-header">
                <div class="page-header-content d-flex justify-content-between">
                    <h2 class="title"> {{ 'EMPLOYEE.title' | translate }}</h2>
                    <button class="btn btn-green" (click)="invite()"><fa-icon [icon]="['fas', 'plus']" class="white"></fa-icon> invite</button>
                </div>
            </section>
            <div>
                <div class="page-content">
                    <ngx-table [configuration]="configuration" [data]="data" [columns]="columns">
                    </ngx-table>
                </div>
            </div>
            <ng-template #adminTpl let-row let-rowIndex="rowIndex">
                <div>
                    <fa-icon *ngIf="row.userPower === 1" [icon]="['fas', 'check-square']" size="2x" class="success"></fa-icon>
                </div>
            </ng-template>
            <ng-template #activeTpl let-row let-rowIndex="rowIndex">
                <div>
                    <fa-icon *ngIf="row.active === true || row.active === 'true'" [icon]="['fas', 'check-square']" size="2x" class="success"></fa-icon>
                    <fa-icon *ngIf="row.active === false || row.active === 'false'" [icon]="['fas', 'times']" size="2x" class="danger"></fa-icon>
                </div>
            </ng-template>
            <ng-template #actionTpl let-row let-rowIndex="rowIndex">
                <div class="menu-icon-container">
                    <fa-icon [icon]="['fas', 'eye']" size="2x" class="primary" (click)="view(row.name, row.id)"></fa-icon>
                    <fa-icon [icon]="['fas', 'trash-alt']" size="2x" class="danger" (click)="delete(row.name, row.id)"></fa-icon>
                </div>
            </ng-template>
        </div>
    </div>
</div>
