<nav class="navbar navbar-expand-sm sticky-top navbar-light shadow-sm">
	<div class="container">
		<a class="navbar-brand" (click)="navigateToMainPage()"><img src="/assets/img/logo.png" class="image" alt="logo">
		</a>
		<button class="navbar-toggler" type="button"
			(click)="toggleMobileHamburger()">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown">
					<p class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
						(click)="toggleAccountDropdown()"
						data-toggle="dropdown">
						{{ 'HEADER.account' | translate }}</p>
					<div [ngbCollapse]="isAccountCollapsed" class="dropdown-menu" aria-labelledby="navbarDropdown">
						<p *ngIf="!(accessToken$ | async)" class="dropdown-item" (click)="navigateToLogin()">
							{{ 'HEADER.login' | translate }}</p>
						<p *ngIf="!(accessToken$ | async)" class="dropdown-item" (click)="navigateToRegistrate()">
							{{ 'HEADER.registrate' | translate }}</p>
						<p *ngIf="(accessToken$ | async)" class="dropdown-item" (click)="navigateToDashboard()">
							{{ 'HEADER.mydashboard' | translate }}</p>
						<p *ngIf="(accessToken$ | async)" class="dropdown-item" (click)="navigateToProfilePage()">
							{{ 'HEADER.myaccount' | translate }}</p>
						<div *ngIf="(accessToken$ | async)" class="dropdown-divider"></div>
						<p *ngIf="(accessToken$ | async) && (organisations$ | async) >= 1" class="dropdown-item" (click)="navigateToDashboard()">
							Switch organisation</p>
						<p *ngIf="(accessToken$ | async)" class="dropdown-item" [routerLink]="['logout']">{{ 'HEADER.logout' | translate }}</p>
					</div>
				</li>
				<li class="nav-item dropdown">
					<p class="nav-link dropdown-toggle" id="navbarLangDropdown" role="button"
						(click)="toggleLanguageDropdown()"
						data-toggle="dropdown">
						{{ 'HEADER.language' | translate }}</p>
					<div [ngbCollapse]="isLanguageCollapsed" class="dropdown-menu" aria-labelledby="navbarDropdown">
						<p class="dropdown-item" (click)="selectLanguage('nl')">
							{{ 'HEADER.dutch' | translate }}</p>
						<p class="dropdown-item" (click)="selectLanguage('en')">
							{{ 'HEADER.english' | translate }}</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>
