<div>
   <div class="table-div">
      <ngx-table *ngIf="data" [configuration]="configuration" [data]="data" [columns]="columns">
      </ngx-table>
   </div>
</div>

<ng-template #nameTpl let-row let-rowIndex="rowIndex">
   <div *ngIf="editRow !== rowIndex">{{ row.name }}</div>
   <div *ngIf="editRow === rowIndex">
      <input type="text" #name placeholder="Name" class="form-label" [value]="row.name" />
   </div>
</ng-template>
<ng-template #activeTpl let-row let-rowIndex="rowIndex">
   <div *ngIf="editRow !== rowIndex">
      <img *ngIf="row.active === true || row.active === 'true'" src="/assets/img/success-icon.png" class="table-icon" alt="user">
      <img *ngIf="row.active === false || row.active === 'false'" src="/assets/img/failed-icon.png" class="table-icon" alt="user">
   </div>
   <div *ngIf="editRow === rowIndex">
      <div class="form-group">
         <select class="form-select" #active>
           <option>{{ row.active }}</option>
           <option *ngIf="row.active !== false && row.active !== 'false'" value="false">false</option>
           <option *ngIf="row.active !== true && row.active !== 'true'" value="true">true</option>
         </select>
       </div>
   </div>
</ng-template>
<ng-template #actionTpl let-row let-rowIndex="rowIndex">
   <div *ngIf="editRow !== rowIndex" class="btn btn-primary" (click)="edit(rowIndex)">Edit</div>
</ng-template>
